@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: "Open Sans", sans-serif;
}

body {
	overflow-x: hidden;
}

li {
	list-style-type: none;
}

a {
	text-decoration: none;
}

section {
	display: flex;
	flex-direction: column;
	align-items: center;
}

/*
 *
 * GENERAL 
 *
*/

.container {
	max-width: 730px;
}

/*
 *
 * NAVBAR 
 *
*/

.purple {
	color: #6030b1;
}

.nav__container {
	height: 100px;
	padding: 0 50px 0 50px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	font-size: 18px;
	font-weight: 600;
}

.nav__logo--wrapper {
	height: 40px;
	width: 150px;
}	

.nav__logo {
	width: 100%;
}

.nav__links {
	display: flex;
	width: 100%;
	max-width: 430px;
	justify-content: space-between;
	align-items: center;
}

.nav__link {
	color: #000;
}

.link__hover-effect {
	position: relative;
}

.link__hover-effect:after {
	content: "";
	position: absolute;
	bottom: -4px;
	height: 3px;
	width: 0;
	right: 0;
	transition: all 300ms ease;
}

.link__hover-effect:hover:after {
	left: 0;
	width: 100%;
}

.link__hover-effect--black:after {
	background-color: #000;
}

.link__hover-effect--purple:after {
	background-color: #6030b1;
}

.link__hover-effect--white:after {
	background-color: #fff;
}

.nav__link--primary {
	display: flex;
	height: 48px;
	padding: 12px 40px;
	align-items: center;
	border-radius: 50px;
	background-color: #6030b1;
	color: #fff;
	letter-spacing: 1px;
	font-size: 13px;
	font-weight: 700;
	transition: all 300ms ease;
	cursor: not-allowed;
}

.nav__link--primary:hover {
	background-color: #5d3eff;
}

/*
 *
 * LANDING 
 *
*/

#landing {
	padding: 10px 20px 0 20px;
	text-align: center;
}

.landing__title, .landing__sub-title, .input-wrapper {
	opacity: 0;
}

.landing__title {
	animation: slideIn 1s ease-in-out forwards;
}

.landing__sub-title {
	animation: slideIn 1s ease-in-out 0.5s forwards;
}

.input-wrapper {
	animation: fadeIn 1s ease-in-out 1s forwards;
}

@keyframes slideIn {
	0% {
		opacity: 0;
		transform: translateY(30px)
	}
	100% {
		opacity: 1;
		transform: translateY(0)
	}
}

@keyframes fadeIn {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

.landing__title {
	font-size: 50px;
	margin-bottom: 30px;
}

.landing__sub-title {
	margin-bottom: 40px;
}

.input-wrapper {
	width: 100%;
	position: relative;
	display: flex;
	justify-content: center;
}

/* input */
.searchbar {
	border-radius: 20px;
	border: 1px solid #000;
	height: 70px;
	width: 100%;
	line-height: 40px;
	padding: 0 15px;
	font-size: 24px;
	transition: all 300ms ease;
}

.searchbar:focus {
	outline: none;
	box-shadow: 0 0 0 1px #6030b1;
}

.search-btn {
	width: 200px;
	margin-left: 20px;
	font-size: 40px;
	color: #fff;
	border-radius: 20px;
	cursor: pointer;
	transition: all 300ms ease;
}

.search-btn.not-loading {
	border: 1px solid #6030b1;
	background-color: #6030b1;
	box-shadow: 7px 7px 14px rgba(134,93,204,.3);
}

.search-btn.not-loading:hover {
	background-color: #ff328f;
	border-color: #ff328f;
}

.search-btn.loading {
	border: none;
	background-color: #0a1f44;
	display: flex;
	align-items: center;
	justify-content: center;
}

.fa-spinner--homepage {
	color: #fff !important;
	font-size: 32px !important;
}

.search-btn.loading:hover {
	background-color: #000;
}

.img__wrapper {
	position: absolute;
	bottom: 0;
	width: max-content;
}

.landing__img {
	width: 100%;
	height: 50vh;
}

/*
 *
 * SEARCHPAGE 
 *
*/

.searchpage__header {
	position: relative;
	height: 326px;
	color: #fff;
}

.searchpage__header .nav__container {
	max-width: 1200px;
	margin: 0 auto;
}

.searchpage__header .nav__link {
	color: #fff;
}

.searchpage__header .nav__link--primary {
	color: #6030b1;
	background-color: #fff;
}

.searchpage__header .nav__link--primary:hover {
	background-color: #ff328f;
	color: #fff;
}

.search__container .input-wrapper {
	align-items: center;
	opacity: 1;
	animation: none;
	max-width: 600px;
}

.search__container {
	display: flex;
	flex-direction: column;
	width: 100%;
	max-width: 1200px;
	align-items: center;
	margin: 20px auto 0 auto;
}

.search__title {
	margin-bottom: 40px;
	font-weight: 500;
	letter-spacing: .1em;
	font-size: 45px;
}

.searchbar--searchpage {
	border-radius: 50px;
	padding-left: 28px;
	height: 60px;
	font-size: 20px;
	border: none;
}

.searchbar--searchpage:focus {
	box-shadow: 0 0 0 1px #ff328f;
}

.search-btn--searchpage {
	height: 100%;
	position: absolute;
	right: 0;
	padding: 0 20px 0 8px;
	color: #6030b1;
	font-size: 32px;
	cursor: pointer;
	display: flex;
	align-items: center;
	transition: all 300ms ease;
}

.search-btn--searchpage:hover {
	color: #ff328f;
}

.overlay {
	background-repeat: no-repeat;
    background-position: 50%;
    background-size: cover;
    background-attachment: fixed;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: -1;
}

.overlay:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(41, 25, 71, .83);
    pointer-events: none;
}

/*
 *
 * SEARCH RESULTS 
 *
*/

#results {
	padding: 40px 20px;
	max-width: 1200px;
	margin: 0 auto;
}

.start-searching,
.no-results {
	text-align: center;
	line-height: 2em;
	color: rgba(0, 0, 0, 0.5);
	font-weight: 500;
	font-size: 20px;
	letter-spacing: 0.1em;
	padding-top: 40px;
}

.results__container {
	padding: 0 20px;
	width: 100%;
	display: flex;
	justify-content: space-between;
}

.movies {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	padding-top: 40px;
	width: 100%;
}

.movie__container {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 20px;
	width: 33%;
}

.movie__poster {
	width: 100%;
	border-radius: 10px;
	transition: transform 300ms ease;
	cursor: pointer;
}

.movie__poster:hover {
	transform: scale(1.03);
}

.movie__title {
	padding-top: 10px;
	font-weight: bold;
	font-size: 18px;
	text-align: center;
}

.movie__date {
	color: rgba(0, 0, 0, 0.5);
	font-size: 16px;
}

#filter {
	border-radius: 5px;
	padding: 0 8px;
}

/*
 *
 * MOVIE PAGE
 *
*/

.movie-page {
	padding: 40px;
	max-width: 1200px;
	margin: 0 auto;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.movie-page--loading {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
}

.movie-page__title {
	width: 100%;
	font-size: 24px;
	text-align: center;
	margin-bottom: 32px;
}

.movie-page__back-icon {
	display: flex;
	align-items: center;
	justify-content: space-between;
	position: absolute;
	top: 20px;
	left: 30px;
	width: 65px;
	font-weight: 500;
	cursor: pointer;
}

.movie-page__container {
	display: flex;
}

.movie-page__poster {
	width: calc(100% / 2);
	max-width: 400px;
	border-radius: 10px;
	margin-bottom: 20px;
	margin-right: 20px;
}

.movie-page__details {
	width: calc(100% / 3 * 2);
	display: flex;
	flex-direction: column;
	margin-top: 42px;
}

.movie-page__released,
.movie-page__rating {
	font-size: 20px;
	font-weight: 500;
	margin-bottom: 12px;
}

.movie-page__rating {
	padding-top: 10px;
	color: #6030b1;
}

.movie-page__genre {
	font-weight: 200;
	margin-bottom: 20px;
}

.movie-page__plot {
  font-size: 18px;
	line-height: 1.5em;
	color: rgba(0, 0, 0, 0.7);
}

/*
 *
 * LOADING STATE
 *
*/

.movies__loading {
	padding-top: 116px;
}

.fa-spinner {
	font-size: 28px;
	color: #6030b1;
	animation: spinner 600ms infinite linear;
}

@keyframes spinner {
	0% {
		transform: rotate(0)
	}
	100% {
		transform: rotate(360deg)
	}
}

/*
 *
 * Responsiveness
 *
*/

#phone-nav {
	display: none;
}

.phone-nav--searchpage .phone-nav__open {
	color: #fff;
}

.phone-nav__open,
.phone-nav__close {
	font-size: 28px;
	color: #6030b1;
	cursor: pointer;
}

.phone-nav__close {
	display: none;
}

.phone-nav__menu {
	display: flex;
	flex-direction: column;
	text-align: center;
	justify-content: center;
	position: fixed;
	left: 0;
	top: 0;
	bottom: 0;
	right: 0;
	width: 100%;
	height: 100vh;
	background-color: hsla(0, 0%, 100%, .95);
	visibility: hidden;
	opacity: 0;
	transform: translateX(100vw);
	transition: all 300ms ease;
}

.phone-nav__link {
	font-size: 30px;
	margin-bottom: 60px;
}

.open .phone-nav__menu {
	z-index: 1;
	visibility: visible;
	opacity: 1;
	transform: translateX(0);
}

.closed .phone-nav__menu {
	visibility: visible;
	opacity: 0;
	transform: translateX(100vw);
	z-index: -1;
}

.open .phone-nav__open {
	display: none;
}

.open .phone-nav__close {
	display: flex;
	z-index: 1;
}

@media (max-width: 768px) {
	.landing__title {
		font-size: 40px;
	}

	.searchbar {
		font-size: 20px;
	}

	.nav__links {
		display: none;
	}

	#phone-nav {
		display: flex;
	}

	.input-wrapper {
		width: 90%;
	}

	.movie__container {
		width: 50%;
	}

	.search__title {
		width: 100%;
		text-align: left;
		padding-left: 64px;
		margin-bottom: 30px;
		font-size: 24px;
	}

	.searchpage__header {
		height: 290px;
	}

	.movie-page__container {
		flex-direction: column;
		align-items: center;
	}

	.movie-page__poster {
		min-width: calc(100% / 3);
	}

	.movie-page {
		padding: 60px 10px;
	}
}

@media (max-width: 550px) {
	.img__wrapper {
		display: none;
	}

	.landing__title,
	.landing__sub-title {
		text-align: left;
	}

	.input-wrapper {
		flex-direction: column;
	}

	.searchbar {
		margin-top: 42px;
		height: 60px;
	}

	.searchbar--searchpage {
		margin: 0;
	}

	.search-btn,
	.search-btn.loading {
		margin: 0;
		margin-top: 20px;
		width: 100%;
		height: 60px;
	}
}
